{% extends "base.html" %}

{% block content %}
    <div id="heading"><h1>Bookend Book Inventory System</h1></div>
    <p>Hello {{  name }}</p>
    <p>Found {{ book_list|length }} books:</p>
    <table border="1" width="80%">
        {% for book in book_list %}
            <tr>
                <td>{{ book.isbn }}</td>
                <td>{{ book.title }}</td>
                <td>{{ book.author }}</td>
                <td>{{ book.image }}</td>
            </tr>
        {% endfor %}
    </table>
{% endblock %}
