{%  extends "bootstrap/base.html" %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    {% if title %}
    <title>{{  title }}</title>
    {% else %}
    <title>Unknown</title>
    {% endif %}

    <link rel="stylesheet" type="text/css" href="static/styles.css" />

    <link rel="icon"
          type="image/png"
          href="static/bs_icon.png" />

    <!-- Begin jqGrid support -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.11.4/themes/redmond/jquery-ui.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/free-jqgrid/4.15.5/css/ui.jqgrid.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/free-jqgrid/4.15.5/jquery.jqgrid.min.js"></script>
</head>
<body>
    {%  block navbar %}
    {%  endblock %}

    <hr>

    <div id="heading">
        <h1>Bookend Book Inventory System</h1>
    </div>

    {% block content %}
    {% endblock %}
</body>
</html>