{% extends "base.html" %}

{%  block navbar %}
    <div id="tools">Bookshelf: <a href="/table">jqGrid Example</a> <a href="/logout">Log Out</a></div>
{%  endblock %}

{% block content %}
    <p>Found {{ book_list|length }} books:</p>
    <table id="booktable">
        <tr>
            <th>ISBN</th>
            <th>Title</th>
            <th>Author</th>
            <th>Cover</th>
        </tr>
        {% for book in book_list %}
            <tr>
                <td>{{ book.isbn }}</td>
                <td>{{ book.title }}</td>
                <td>{{ book.author }}</td>
                <td>
                    <a href="api/book/{{ book.isbn }}">
                        {# If the image contains "N/A"  #}
                        {% if book.image != "N/A" %}
                            <img src="{{ book.image }}">
                        {% else %}
                            <img width="128" src="static/no_image.jpg">
                        {% endif %}
                    </a>
                </td>
            </tr>
        {% endfor %}
    </table>
{% endblock %}
