{% extends "base.html" %}

{% block navbar %}
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">Bookshelf</a>
    <div class="collapse navbar-collapse" id="navbarAltMarkup">
        <div class="navbar-nav">
            <a class="nav-item nav-link active" href="/table">jqGrid Table</a>
            <a class="nav-item nav-link" href="/">Table</a>
            <a class="nav-item nav-link" href="/logout">Log Out</a>
        </div>
    </div>
    </nav>
{% endblock %}

{% block content %}
    <!-- Here jqGrid will construct the table -->
    <table id="grid"></table>
    <div id="pager"></div>

    <script>
    //<![CDATA[
    $(function () {
        "use strict";
        $("#grid").jqGrid({
            colModel: [
                { label: "ISBN", name: "isbn", width: 10 },
                { label: "Book Title", name: "title", width: 25 },
                { label: "Author", name: "author", width: 25 },
                { label: "Publisher", name: "publisher", width: 25 },
                { label: "Publication Date", name: "pubdate", width: 10 }
            ],
            url: "api/books",
            datatype: "json",
            pager: "#pager",
            caption: "Book Inventory",
            autowidth: true,
            shrinkToFit: true,
            viewrecords: true,
            loadonce: true,
            rowNum: 25,
            altRows: true,
            sortname: "title"

        });
    });
    //]]>
    </script>

{% endblock %}
